/* ------------------------------------------------------ */
                    /* Style du header  */
/* ------------------------------------------------------ */

.logo{
    width: 75%;
    height: 10%;
}

.nav-image{
    width:20%;
    height:20%;
    padding-right:10%;
}

.navi {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width:100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 8% 15px;
}

nav ul li button {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-button, .logout-button {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button{
    background-color: #444;
    margin:1% 15px;
}

.nav-button img, .logout-button img {
    margin-right: 10px;
}

button:hover {
    background-color: #666;
}

/* ------------------------------------------------------ */
                /* Style du Footer  */
/* ------------------------------------------------------ */
/* 
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
}

footer p {
    margin: 0;
} */


/* ------------------------------------------------------ */
                /* Style du Header  */
/* ------------------------------------------------------ */


.test{
    height: 100%;
    width: 100%;
    padding:0 , 15px ;
    background-color: rgb(255, 255, 255);
}