/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  cursor: default;
}

summary{
  cursor: default;
  position: relative;
  list-style: none;
}

summary::after{
  content: '+';
  position: absolute;
  left: -20px;
  transform: rotate(0deg);
  transition: ease-in-out 0.2s;
}

details[open] > summary::after{
  content: '+';
  transform: rotate(45deg);
}

details[open] > *:not(summary) {
  animation: sweep 0.2s ease-in;
}

@keyframes sweep {
  0% {
      opacity: 0;
      transform: translateY(-5px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

details{
  border:2px solid grey;
  margin:1%;
  padding:3px;
  border-radius: 4px;
  transform-origin: top;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table a {
  color: #4c82af;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

/* Toolbar */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btn {
  background-color: #4c82af;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected {
  /* background-color: #e02323;  */
  color: #0168f8;
}